body {
    font-family: 'Source Code Pro', monospace;
    font-size: smaller;
}
.top-border {
    background: #003366;
    height: 10px;
}
.main {
    padding-left: 15px;
    padding-right: 15px;
}
a:link, a:visited {
    color: #003366;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}